{% extends "base.html" %}

{% block style %}

h2 {
	text-align: center;
}

{% endblock %}

{% block body %}

<div class="prepend-2 span-20 append-2 last">

<p>As the Metropolitan Area Planning Council (MAPC) moves forward in developing a vision for the area surrounding the potential 
	Mystic Valley Parkway Green Line station, it is important that residents of surrounding communities are involved in identifying 
	key community resources. MAPC will refer to these key resources as "assets".</p>

<p>Assets will be grouped under two categories for this mapping exercise: "Preservation" and "Change".  Preservation refers to assets 
	which are of value to residents and should be preserved if the Green Line comes to Mystic Valley Parkway. Change refers to assets 
	which offer opportunities for change and can have a positive impact for residents if the Green Line is extended.</p>

<p>The following online mapping exercise asks residents to identify key community assets that should be preserved or those that can be 
	used to support positive change. After identifying an asset, please use the comment feature to tell us why you think this is an asset. 
	If someone has already identified the asset on the map, you can still share comments by clicking on the asset marker on the map.</p>

<p>MAPC will use the mapping information to help build a vision for the station area that incorporates these key assets. Please join us at 
	the upcoming public meeting on May 17th from 6:30-9:00PM to learn more about the visioning process and to provide input on your 
	preferences for the future of the station area. Thank you for participating.</p>
	
<h2><a href="/asset/new" title="Add new asset">Add new asset</a></h2>

</div>

{% endblock %}